html, body {
	padding: 0%;
	margin:  0%;
height: 100%;
}

#topPart {
	background: #E1BEE7;
	width: auto;
	height: 60%;
 border: 0px;
	margin: 0;

}

#joinUs {
	background: #FFF8E1;
	width: auto;
	height: 60%;
	margin: 0px;
}

.content {

	width: 60%;
	margin: auto;


}
#featuredRow {
	display: flex;
	width: 60%;
	margin: auto;
	margin-bottom: 50px;

}

#featuredRow > div {
	width: 200px;
	height: 200px;

}

ul{
	list-style: none;
}
.featured{
	object-fit: cover;
	width: 200px;
	height: 200px;
	
}

.featured:hover {
	animation: opac 1s 1;
	animation-fill-mode: forwards;
	
}

@keyframes opac {
	0% {
		opacity: 1;	
	}
	100% {
		opacity: 0.1;	
	}


}



.text {

	text-align: center;
  color: black;
  font-size: 15px;
  position: absolute;
  z-index: -99;
  width: 200px;
  height: 200px;
}


h1 {
	color:white;
	font-family: monospace;
	font-size: 3em;
	text-shadow: 2px 2px 4px #000000;

}
h2 {
	text-align: center;
}

p {

	margin: 0px;

	padding: 2em;

	letter-spacing: 1.5px;

	font-size: 1.3em;
}

.container {
	height: 100%;
	width: fit-content;
	width: -moz-fit-content;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

img {
 display: block;
	max-width: 100%;
	max-height: 100%;


}

.center {
  position: absolute;
	margin: 0;
  top: 60%;
	left: 0%;
  width: fit-content;

}
